@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.scrollhidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.drag-file-area {
  border: 2px dashed #3796e4;
  padding: 30px 50px;
  text-align: center;
}

.drag-file-area .upload-icon {
  font-size: 50px;
}

.drag-file-area h3 {
  font-size: 26px;
}
.drag-file-area label {
  font-size: 19px;
}
